body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
.error-box {
    background: white;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 450px; /* Increased width for a larger container */
}
.error-code {
    font-size: 80px;
    color: #e74c3c;
}
.error-message {
    font-size: 24px;
    color: #555;
}
.additional-text {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}
.link {
    margin-top: 10px;
    display: block;
    color: #3498db;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}