.layout-config-button {
    width: 2rem;
    height: 2rem;
    background: none; /* Remove background */
    color: #A9A9A9;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: none; /* Remove border */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 1rem;
    box-shadow: none; /* Remove box-shadow */
}

.layout-config-button i {
    font-size: 1.5rem; /* Ensure consistent icon size */
}

.layout-topbar-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem; /* Consistent gap between icons */
}

.layout-topbar-button,
.layout-config-button {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer;
    transition: background; /* Keep transition for hover effects */
    font-size: 1.5rem;
    color: #757575;
}
